---
type Props = {
  slug: string
  isActive?: boolean
}

const { slug, isActive = false } = Astro.props
---

<a href={slug} class="category-tab" aria-current={isActive ? 'true' : 'false'}>
  <slot />
</a>

<style lang="scss">
  .category-tab {
    display: inline-flex;
    align-items: center;
    font-size: var(--typography-body-s, 0.75rem);
    padding: 0.5rem 1rem;
    height: 2.4375rem;
    $tap-increment: calc(-0.15625rem - 1px);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: $tap-increment;
      top: $tap-increment;
      bottom: $tap-increment;
      right: $tap-increment;
    }
    border-radius: 2.75rem;
    border: 1px solid var(--neutral-500);
    transition:
      border-color 500ms,
      transform 500ms var(--easing);
    &:hover {
      border-color: var(--neutral-200, #f0f7f7);
    }
    &:active {
      transition: none;
      transform: scale(0.98);
    }
    &[aria-current='true'] {
      background:
        linear-gradient(266deg, #0b0f0d, #011310, #001f1b) padding-box,
        var(--gradient-primary) border-box;
      border: 1px solid rgba(255, 255, 255, 0);
    }
  }
</style>
