---
import '@repo/shared/global.scss'
import Head, { type HeadProps } from '@repo/shared/layout/Head.astro'
import Toast from '@repo/ui/Toast/Toast.astro'
import type { Language } from '@repo/shared/languages'

type Props = Omit<HeadProps, 'lang'>

const { ...props } = Astro.props

const lang = (Astro.params.lang as Language) || 'pl'
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head {...props} lang={lang} />
    <slot name="Head" />
    <script is:inline src="https://cdn.usefathom.com/script.js" data-site="PUUZZITA" defer></script>
  </head>
  <body>
    <main id="main">
      <slot />
    </main>
    <Toast />
  </body>
</html>
