---
import Layout from '@/src/layouts/Layout.astro'
import metadataFetch from '@/utils/metadata.fetch'
import sanityFetch from '@/utils/sanity.fetch'
import Button, { ButtonDataQuery, type ButtonDataProps } from '@/components/ui/button'

const metadata = await metadataFetch('Index_Page')

type QueryProps = {
  button: ButtonDataProps
}

const data = await sanityFetch<QueryProps>({
  query: `
    *[_type == "Index_Page"][0] {
      ${ButtonDataQuery('button')}
    }
  `,
})
---

<Layout {...metadata}>
  <h1>❧ Index <strong>special</strong> Page</h1>
  <p>Zażółć gęślą jaźń</p>
  <h1>❧ Zażółć gęślą jaźń Zażółć gęślą</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cum expedita ad distinctio temporibus corrupti
    laboriosam cupiditate, impedit dolore <strong>sapiente magni neque</strong> quaerat facilis, est odio consequuntur enim
    quae rem molestiae. Tempora <a href="#" class="link">Lorem ipsum dolor sit amet.</a> labore suscipit aut optio aliquam,
    ducimus dolore veniam, veritatis at natus ratione debitis laborum eos quisquam. Tempora quia aspernatur vero ullam necessitatibus
    ipsa exercitationem doloribus culpa, nihil iusto, assumenda, recusandae porro fugiat rerum deserunt saepe voluptas veniam
    magni qui deleniti ducimus. Quam accusamus eos id fugiat soluta corrupti modi maiores ab perspiciatis? Asperiores, sunt
    aliquam rerum ipsum magnam perferendis vero sapiente id sint unde dolor adipisci repudiandae.
  </p>

  <div class="cta-wrapper">
    <Button {...data.button} />
    <Button {...data.button} theme="secondary" />
    <Button>Test</Button>
  </div>
</Layout>

<style>
  h1 {
    text-align: center;
  }
</style>
