---
import '@/global/global.scss'
import { LOCALE } from '../global/constants'
import Head, { type HeadProps } from './Head.astro'
import Toast from '@/components/ui/Toast/index.astro'

type Props = HeadProps

const { ...props } = Astro.props
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...props} />
    <slot name="Head" />
    <script is:inline src="https://cdn.usefathom.com/script.js" data-site="PUUZZITA" defer></script>
  </head>
  <body>
    <main id="main">
      <slot />
    </main>
    <Toast />
  </body>
</html>
