$opacity-transition: 800ms var(--easing);
.button {
  font-size: var(--typography-body-m, 14px);
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  padding: 0 clamp(1rem, calc(1rem + 1vw / 0.48), 2rem);
  transition: transform 500ms var(--easing);
  @media (max-width: 499px) {
    width: 100%;
  }
  &::before {
    content: '';
    width: 110%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-image: conic-gradient(
      var(--primary-500, #064040) 79%,
      #90f4e8 87%,
      #90f4e8 92%,
      var(--primary-500, #064040) 100%
    );
    animation: rotate 2.5s linear infinite;
    animation-play-state: paused;
    transition: $opacity-transition;
    @keyframes rotate {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: inherit;
    background: linear-gradient(266deg, #0b0f0d, #011310, #001f1b);
  }
  .content {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
    border-radius: inherit;
  }
  &[data-theme='primary'] {
    span {
      background: linear-gradient(266deg, #2dd282, #90f4e8);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .content {
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background:
          linear-gradient(var(--neutral-900, #000103), var(--neutral-900, #000103)) padding-box,
          linear-gradient(266deg, #2dd282, #90f4e8) border-box;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: inherit;
        transition: $opacity-transition;
      }
    }
  }
  &[data-theme='secondary'] {
    border-radius: 48px;
    &::before {
      opacity: 0;
    }
  }
  &:disabled {
    opacity: 0.62;
    pointer-events: none;
  }
  img {
    width: 28px;
    height: 28px;
  }
  &:hover {
    &::before {
      animation-play-state: running;
      @media (prefers-reduced-motion) {
        animation-play-state: paused;
      }
      opacity: 1;
    }
    .content {
      &::before {
        opacity: 0;
      }
    }
  }
  &:active {
    transition: none;
    transform: scale(0.99);
  }
}
