---
import Image from '@/components/ui/image'
import BaseButton, { type Props as ButtonDataProps } from './Button'

type Props = ButtonDataProps

const { ...props } = Astro.props

const svgId = `arrow-icon-${Math.random().toString(36).slice(2, 9)}`
---

<BaseButton {...props}>
  <span>
    {props.text || <slot />}
  </span>
  {
    props.img ? (
      <Image {...props.img} sizes="28px" class="gradient-thumbnail" />
    ) : (
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" fill="none">
        <path
          stroke={`url(#${svgId})`}
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.664 8.5h10.667m0 0-4-4m4 4-4 4"
        />
        <defs>
          <linearGradient id={svgId} x1="13.131" x2="2.064" y1="4.5" y2="5.44" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2DD282" />
            <stop offset="1" stop-color="#90F4E8" />
          </linearGradient>
        </defs>
      </svg>
    )
  }
</BaseButton>
