---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@/components/ui/portable-text'

export const SimpleTextSection_Query = `
  _type == "SimpleTextSection" => {
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
  },
`

type Props = {
  index: number
  sectionId?: string
  heading: PortableTextValue
  paragraph: PortableTextValue
}

const { index, sectionId, heading, paragraph } = Astro.props
---

<section class="SimpleTextSection" id={sectionId}>
  <header>
    <PortableText value={heading} heading={index === 0 ? 'h1' : 'h2'} class="heading h2" />
  </header>
  <PortableText value={paragraph} class="paragraph" />
</section>

<style lang="scss">
  .SimpleTextSection {
    padding: clamp(3rem, calc(5vw / 0.48), 6rem) 0;
    header {
      max-width: 39rem;
      margin-bottom: clamp(2rem, calc(3vw / 0.48), 4rem);
    }
    .paragraph {
      max-width: clamp(28rem, calc(28vw / 0.48), 39rem);
      margin-left: auto;
      :global(> *:not(:last-child)) {
        margin-bottom: clamp(1rem, calc(2vw / 0.48), 2rem);
      }
      @media (max-width: 44rem) {
        max-width: 100%;
      }
    }
  }
</style>
