@font-face {
  font-family: 'KryptoPoppins';
  src:
    url('/fonts/KryptoPoppins-Regular.woff2') format('woff2'),
    url('/fonts/KryptoPoppins-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'KryptoPoppins Fallback';
  src: local('Arial');
  ascent-override: 93.76%;
  descent-override: 31.25%;
  line-gap-override: 8.93%;
  size-adjust: 111.99%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-200: #f0f7f7;
  --neutral-400: #c6cdcc;
  --neutral-500: #75758a;
  --neutral-600: #4a4a57;
  --neutral-700: #383842;
  --neutral-800: #202025;
  --neutral-900: #000103;

  --error-600: #380713;

  --primary-500: #064040;
  --primary-600: #042b2b;
  --primary-700: #021d1d;
  --primary-900: #001414;

  --visited-500: #bea3ff;

  --typography-body-2xl: clamp(1.125rem, calc(1.25vw / 0.48), 1.25rem);
  --typography-body-xl: 1rem;
  --typography-body-m: 0.875rem;
  --typography-body-s: 0.75rem;

  --typography-heading-2xl: clamp(1.75rem, calc(2.25vw / 0.48), 2.25rem);
  --typography-heading-xl: clamp(1.5rem, calc(1.875vw / 0.48), 1.875rem);
  --typography-heading-l: clamp(1.375rem, calc(1.5vw / 0.48), 1.5rem);
  --typography-indent-heading-2xl: clamp(1.75rem, calc(2.25vw / 0.48), 2.25rem);
  --typography-indent-heading-l: 1.5rem;

  --easing: cubic-bezier(0.08, 0.82, 0.17, 1);

  --primary-gradient-400: linear-gradient(266deg, #2dd282, #90f4e8);
  --primary-gradient-900: linear-gradient(266deg, #0b0f0d, #011310, #001f1b);

  --error-gradient-400: linear-gradient(266deg, #d44a84, #da2b53, #bf3a3a);
  --error-gradient-900: linear-gradient(266deg, #0f0b0b, #130501, #290005);

  // Margins
  --page-margin: clamp(1rem, calc(2vw / 0.48), 2rem);
  @media (max-width: 56rem) and (min-width: 38rem) {
    --page-margin: clamp(2rem, calc(5vw / 0.48), 5rem);
  }
}

svg {
  max-width: 100%;
  display: block;
  height: auto;
}
canvas {
  touch-action: pan-y;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
::placeholder {
  color: inherit;
}
sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}
ul,
ol {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--neutral-200, #f0f7f7);
  outline-offset: 5px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-padding-top: 123px;
  scroll-behavior: smooth;
  @media (prefers-reduced-motion) {
    scroll-behavior: none;
  }
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    border-left: 14px solid var(--neutral-900, #000103);
    background: var(--primary-gradient-400);
  }
  &::-webkit-scrollbar-thumb:horizontal {
    border-left: none;
    border-top: 14px solid var(--neutral-900, #000103);
  }
}
body {
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--neutral-900, #000103);
  color: var(--neutral-200, #f0f7f7);
  font-family: 'KryptoPoppins', 'KryptoPoppins Fallback', sans-serif;
  font-size: var(--typography-body-xl, 1rem);
  font-feature-settings:
    'ss03' on,
    'ss04' on;
  font-variant-numeric: oldstyle-nums proportional-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  line-height: 1.75;
  letter-spacing: 0.005em;
}

main,
.max-width {
  max-width: 80.375rem;
  width: calc(100% - var(--page-margin) * 2);
  margin: 0 auto;
  height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.024em;
  font-size: var(--typography-heading-l, 1.5rem);
  color: var(--text-heading, #f0f7f7);
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings:
    'ss03' on,
    'ss04' on;
  strong {
    background: var(--primary-gradient-400);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    &::before,
    &::after {
      display: none;
    }
  }
}
h1,
.h1 {
  font-size: var(--typography-heading-2xl, 2.25rem);
}

p,
li {
  &.strong,
  strong {
    font-weight: 400;
    &::before,
    &::after {
      background: var(--primary-gradient-400);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: pre;
    }
    &::before {
      content: '[ ';
    }
    &::after {
      content: ' ]';
    }
  }
}

.link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  transition: background-size 500ms var(--easing);
  padding-bottom: 1px;
  margin-bottom: -1px;
  @keyframes link {
    0%,
    100% {
      background-size: 100% 1px;
    }
    50% {
      background-size: 0% 1px;
    }
    0%,
    50% {
      background-position: 100% 100%;
    }
    51%,
    100% {
      background-position: 0% 100%;
    }
  }
  &:hover {
    animation: link 800ms var(--easing);
    &::after {
      transform: translate(1px, -1px);
    }
  }
  &[target='_blank'] {
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      display: inline-block;
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE3IiBmaWxsPSJub25lIj48cGF0aCBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJtNC41IDEyLjUgOC04bTAgMGgtNm02IDB2NiIvPjwvc3ZnPg==');
      background-color: currentColor;
      margin: -0.1em 0 -0.1em 0.1em;
      transition: transform 300ms var(--easing);
    }
  }
}

.cta-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem clamp(1rem, calc(1.5vw / 0.48), 1.5rem);
  width: fit-content;
  & > * {
    flex: 1 1 auto;
  }
}

.gradient-thumbnail {
  background:
    linear-gradient(var(--neutral-900), var(--neutral-900)) padding-box,
    var(--primary-gradient-400) border-box;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
